{% extends 'base.html' %}

{% block title %}
    Добавление практического задания
{% endblock %}

{% block content %}
    <div class="breadcrumb__container">
        <ol id="wo-breadcrumbs" class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList" >
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a href="/createTask" itemprop="item">
                    <span itemprop="name">Добавить тест</span>
                </a>
                <meta itemprop="position" content="1" />
            </li>
            <span class="separator"> / </span>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a href="/createVideo" itemprop="item">
                    <span itemprop="name">Добавить видео</span>
                </a>
                <meta itemprop="position" content="2" />
            </li>
            <span class="separator"> / </span>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" >
                <span itemprop="name">Добавить практическое задание</span>
                <meta itemprop="item" content="/inside/student/reports/106174/create"/>
                <meta itemprop="position" content="3" />
            </li>
        </ol>
    </div>
    <div class="d-flex flex-row justify-content-between align-items-center" >
        <h3 class="page__title mb-3">Добавить практическое задание</h3>
    </div>
    <div class="card shadow-sm">
        <div class="card-body">
            <form action="/createPractice" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group form-group-sm">
                    <label for="comment" class="col-2 col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">Название практики:</label>
                    <div class="col-10 col-xs-12 col-sm-10 col-md-10 col-lg-10 col-xl-10 col-xxl-10">
                    {{ form.title }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="comment" class="col-2 col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">Описание:</label>
                    <div class="col-10 col-xs-12 col-sm-10 col-md-10 col-lg-10 col-xl-10 col-xxl-10">
                    {{ form.content }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="comment" class="col-2 col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">Максимальное количество баллов:</label>
                    <div class="col-10 col-xs-12 col-sm-10 col-md-10 col-lg-10 col-xl-10 col-xxl-10">
                    {{ form.number }}
                    </div>
                </div>
                <div class="form-group my-2">
                    <label for="file" class="col-form-label-sm col-2 col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">Файл правильного ответа</label>
                    <div class="col-10 col-xs-12 col-sm-10 col-md-10 col-lg-10 col-xl-10 col-xxl-10">
                        <div class="wrapper-upload">
                        <input id="file" type="file" name="file" class="d-none"/>
                        {{ form.practice }}
                        </div>
                    </div>
                    <script>
                        $(".pub-delete-file").on("click", function () {
                            $(".wrapper-upload").removeClass("d-none");
                            $(".wrapper-uploaded-files").addClass("d-none");
                            $("#file-deleted").val("true");
                        });
                        $("#file").change(function () {
                            $(".pub-file-info").text(this.files.item(0).name);
                            $(".pub-file-info").removeClass("uploaded");
                            $(".pub-download-file").remove();
                            $("#file-deleted").val("");
                            $(".wrapper-upload").addClass("d-none");
                            $(".wrapper-uploaded-files").removeClass("d-none");
                        });
                    </script>
                </div>
                <p class="small mb-0">Максимальный размер - 8mb.</p>
                <button type="submit" class="btn btn-sm btn-success">
                    Сохранить
                </button>
            </form>
        </div>
    </div> 
{% endblock %}