{% extends 'base.html' %}

{% block title %}
    Практические работы
{% endblock %}

{% block sidebar %}
    <div class="list-group">
        {% for item in json_string.task %}
        <button class='step' id='{{ item.number }}'> Задание: {{ item.number }} </button> 
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
<div class="card mb-3">
    
    <div class="card-body">
        {% for question in json_string.task %}
        <div style='display: none' class='Question' id='block_{{question.number}}'>
            <form method="post">
            {{ question.q|safe }}
            </br>
            
            <textarea style="width: 100%;" rows="9" id='work_{{question.number}}' class='Practice' name='first_practice'>
            </textarea>
            </br>
            {% csrf_token %}
            <button style="width: 60%; margin-left: 20%;" class='answer' id='{{question.number}}'> Ответить </button>
            </form>
        </div>
        {% endfor %}
    </div>

</div>
    <script>
        $(function(){

            $(".step").on("click", function(){

                if (document.getElementById('block_'+this.id).style.display == 'none'){
                    $('.Question').hide();
                    $('#block_'+this.id).show();
                }

            });

            $('.answer').on("click", function(e){
                let text = $('#work_'+this.id).val();

                console.log(text);
                text = text.split();
                //console.log(text);
                
                $.ajax({
                    data: text, // получаяем данные формы
                    url: "http://127.0.0.1:8000/practice",
                    // если успешно, то
                    success: function (response) {
                        alert('dsaasdsa');
                        return false;
                    },
                    // если ошибка, то
                    error: function (response) {
                        // предупредим об ошибке
                        console.log(response.responseJSON.errors)
                    }
                });
            });

            
            
        }); 
    </script>
{% endblock %}