{% extends 'base.html' %}

{% block title %}
    Практическая работа
{% endblock %}


{% block content %}
<div class="container-fluid p-3">
    <div class="breadcrumb__container">
        <ol id="wo-breadcrumbs" class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a href="/inside/student/tasks/" itemprop="item">
                    <span itemprop="name">Список заданий</span>
                </a>
                <meta itemprop="position" content="1"/>
            </li>
            <span class='separator'> /</span>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <span itemprop="name">Текущее задание</span>
                <meta itemprop="item" content="/inside/student/tasks/98772"/>
                <meta itemprop="position" content="2"/>
            </li>
        </ol>
    </div>

    <h3 class="page__title">Практическая работа "{{title}}" </h3>
    {% if success == 'Поздравляем! Вы сдали данную практику' %}
        <h5 class='warning mb-3' style='color: green'> {{success}} </h5>
    {% else %}
        <h5 class='warning mb-3' style='color: red'> {{success}} </h5>
    {% endif %}
   

    <div class="row">
        <div class="col-lg-6">
            <div class="card shadow-sm">
                <div class="card-body list-group p-0">
                    <div class="list-group-item">
                        <h5>Дисциплина:
                            <span class="fw-light lh-base text-decoration-underline">
                                <a href="/inside/students/subjects/2366709">
                                    Базы данных
                                </a>
                            </span>
                        </h5>
                    </div>
                    <div class="list-group-item">
                        <h5>Тип: <span class="fw-light lh-base">Практическое задание</span></h5>
                    </div>
                    <div class="list-group-item">
                        <h5>Семестр:
                            <span class="fw-light lh-base">2021/2022 весенний</span>
                        </h5>
                    </div>
                    <div class="list-group-item">
                        <h5>Преподаватель:
                            <span class="fw-light lh-base">
                                <a class="link-switch link-switch-blue" href="/inside/profile/201"> Галанина Валентина Александровна </a>
                            </span>
                        </h5>
                    </div>
                    <div class="list-group-item">
                        <h5>Баллы: <span class="fw-light lh-base">{{number}}</span></h5>
                    </div>
                    <div class="list-group-item">
                        <h5>№ задания: <span class="fw-light lh-base">1</span></h5>
                    </div>
                    <div class="list-group-item">
                        <h5>Дата добавления:
                            <span class="fw-light lh-base"></span>
                        </h5>
                    </div>
                    <div class="list-group-item">
                        <h5>Предельная дата выполнения:
                            <span class="fw-light lh-base m-r-xs"></span>
                        </h5>
                    </div>
                    <div class="list-group-item">
                        <h5><span class="task-view-links-text">Доп. материалы: </span>
                            <a class="btn btn-sm btn-outline-secondary" target="_blank" href="/inside/student/tasks/f5bd8ee8566dcdbd6d866719082b070e/download">
                                <i class="fa fa-download fs-5"></i>
                            </a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="mb-2">Описание задания</h5>
                {{ text|safe }}
                {% comment %} <p class="task-description-block">Создать таблицу</p> {% endcomment %}
            </div>
        </div>
    </div>
</div>
<h4 class="page__title">Выполнение</h4>
<div class="row">
    <div class="col-lg-9">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="table-responsive">
                    <form action="/practice/{{id}}/" method="post">
                        {% csrf_token %}
                        {{form}}
                        <button type="submit" id='reg' class="btn btn-primary mt-2"> Отправить на проверку </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}