{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Новости со всего мира {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" >
    <link rel="stylesheet" href="{% static 'css/style.css' %}" >
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
  </head>
  <body>

  
    {% block content %}
      Content
    {% endblock content%}

  {% comment %} {% include 'inc/_nav.html' %} {% endcomment %}

    {% comment %} <div class="container mt-3">
        <div class="row">
            <div class="col-md-3">
                {% block sidebar %} Sidebar {% endblock %}
            </div>
            <div class="col-md-9">
                {% block content %} Content {% endblock %}
            </div>

        </div>
    </div> {% endcomment %}
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
  </body>
</html>